.educationWrap{
    width: 100%;
    height: 400px;
    position: relative;
}
/*banner  start*/
.babyBanner{
    width: 200px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.babyBanner li{
    font-size: 15px;
}
.upBanner{
    display: none;
}
/*banner  end*/
/*edu model start*/
.eduCourse{
    width: 200px;
    height: 200px;
    position: absolute;
    top:300px;
}
/*edu model end*/
/*班级介绍详情*/
.myClassWrap{
    width: 100%;
    height:280px;
}
.myClassIn{
    width: 100%;
}
.myClassTitle{
    width: 100%;
    height: auto;
    margin-top: 20px;
}
.myClassTitle li{
    width: 130px;
    height: 30px;
    float: left;
    text-align: center;
    line-height: 30px;
    margin-bottom: 10px;
    font-size: 18px;
}
.myClassCon{
    width: 100%;
}
.myClassCon ul{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    float: left;
}
.myClassCon ul li{
    width: 130px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    font-size: 15px;
}
.myClassCon ul li:nth-of-type(4){
    width: 130px;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
}
.myClassCon ul li:nth-last-of-type(2){
    width: 130px;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
}
.myClassCon ul li img{
    width: 30px;
    height: 30px;
}
.classC{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    position: absolute;
    left:75%;
    display: none;
}
.classC input{
    margin: 10px;
}
/*班级介绍详情完*/
/*特色教学 start*/
.specialEdu{
    width: 100%;
    height:220px;
    position: relative;
}
.specialB,.specialC{
    overflow: hidden;
}
.specialB li,.specialC li{
    float: left;
    width: 200px;
    height: 30px;
    line-height:30px;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
}
.specialD{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    position: absolute;
    top: 20px;
    left:55%;
    display: none;
}
.specialD input,.specialD button{
    margin: 30px;
}
/*特色教学 end*/
/*小黄人 start*/
.xhrA,.xhrImg{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.xhrA li,.xhrImg li{
    width: 200px;
    height: 50px;
    line-height: 50px;
    float: left;
    text-align: center;
    font-size: 15px;
}
.xhrImg li img{
    width:30px;
    height:30px;
    border-radius: 50%;
}
.xhrImg li button,.xhrImg li input{
    height: 30px;
    line-height: 30px;
}
.xhrD{
    position: absolute;
    top: 1070px;
    left: 65%;
    display: none;
}
/*小黄人 end*/
/*照片墙左侧 start*/
.pictureA{
    width: 100%;
    height:300px;
    position: relative;
}
.pictureB,.pictureCLeft{
    overflow: hidden;
}
.pictureB li,.pictureCLeft li{
    width: 200px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    font-size: 15px;
}
.pictureB li img ,.pictureCLeft li img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.pictureD{
    position: absolute;
    left:60%;
    top:80px;
    display: none;
}
/*照片墙左侧 end*/
/*照片墙右侧 start*/
.picRa{
    width: 100%;
    height:300px;
    position: relative;
}
.picRb,.pictureCRight{
    overflow: hidden;
}
.picRb li,.pictureCRight li{
    width: 200px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    font-size: 15px;
}
.picRb li img ,.pictureCRight li img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.picRd{
    position: absolute;
    left:60%;
    top:70px;
    display: none;
}
/*照片墙右侧 end*/