*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.HomeA{
    width:1070px;
    float: right;
    position: relative;
}
/*轮播图片  start*/
.bannerA{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.bannerA li{
    width:175px;
    height:30px;
    text-align: center;
    line-height:30px;
    font-size: 16px;
    float: left;
    margin-bottom: 20px;
}
.bannerA li button{
    width: 60px;
    display: inline-block;
    height:30px;
    outline: none;
    font-size: 15px;
    line-height:30px;
}
.bannerA li:nth-of-type(2) img{
    width:30px;
    height:30px;
    border-radius: 50%;
}
.updateBox{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    position: absolute;
    top:40px;
    left:75%;
    display: none;
    background: #fff;
}
.updateBox input{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    outline: none;

}
/*轮播图片 end*/

/*课程列表  start*/
.listA{
    height: auto;
    overflow: hidden;
    position: relative;
}
.listA li,.courseA li{
    float: left;
    height: 30px;
    line-height: 30px;
    width: 200px;
    text-align: center;
    font-size: 16px;
    margin-bottom:10px;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
}
.courseA{
    height: auto;
    overflow: hidden;
}
.listCourse{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    position: absolute;
    left:75%;
    top:250px;
    display: none;
}
.listCourse input{
    margin-left: 10px;
    margin-top: 20px;
}

/*课程列表  end*/

/*特色课程  start*/
.specialA{
    height: auto;
    display: inline-block;
}
.specialA li{
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    width: 200px;
    text-align: center;
    padding-bottom: 10px;
}
.specialB{
    width: 800px;
    height: auto;
    display: inline-block;
}
.specialB ul{
    width: 100%;
    height: 30px;
    padding-bottom: 10px;
}
.specialB ul li{
    width: 200px;
    height: 30px;
    float: left;
    text-align: center;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    overflow: hidden;
    font-size: 16px;
}
.specialB ul:last-of-type li:nth-of-type(1):hover{
    width: 540px;
    height: auto;
    float: left;
}
.specialCourse{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    position: absolute;
    top:460px;
    left:75%;
    display: none;
}
.specialCourse input{
    margin-top: 20px;
    margin-left:20px;
}
.caihui{
    width: 100%;
}
/*特色课程  end*/
/*彩绘课程  start*/
.specialBIn ul img{
    width: 30px;
    height:30px;
    border-radius: 50%;
}
.caihuiCourse{
    width: 200px;
    height: 230px;
    border: 1px solid black;
    position: absolute;
    top:600px;
    left:75%;
    font-size: 15px;
    display: none;
}
.caihuiCourse input,.eduCourse input{
    margin: 10px 10px;
    font-size: 15px;
}
.caihuiCourse button,.eduCourse button{
    margin-left: 10px;
}
/*彩绘课程 end*/
/*品格教育 start*/
.eduCourse{
    width: 200px;
    height: 270px;
    position:absolute;
    left: 75%;
    top: 830px;
    border: 1px solid black;
    display: none;

}
/*品格教育 end*/