.teacherWrap{
    width: 100%;
    height: 500px;
}
.bannerT{
    width: 100%;
    height:160px;
}
.babyBanner{
    width: 200px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.babyBanner li{
    font-size: 15px;
}
.upBanner{
    display: none;
}